*{
    margin: 0;
    padding: 0;

}
body{
    padding: 20px 100px;
}
.kkk{
    height: 40px;
    width: 100%;
    background-color: slateblue;
    box-shadow: 8px 1px 8px grey;
}
.container{
    min-height: 600px;
    display: flex;

}
.left-side{
    background-image: url("man.jpg");
    background-size: 100% 100%;
    width: 100%;
    box-shadow: 0 1px 5px grey;

}
.right-side{
    padding: 20px 50px;
    width: 60%;
    box-shadow: 8px 1px 8px grey;
}
h1{
    padding-bottom: 50px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;

}
.container>.right-side>form>label{
    font-weight:  600;
    font-family: 'Montserrat', sans-serif;
    color: grey;
}
input{
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid lightgrey;
}
input::placeholder{
    font-weight: 400;
    color: rgba(179,180,171,0.76);
}
input[type=checkbox]{
    width: 20px;
}
form>label>a{
    font-size: 15px;
    text-decoration: none;
    color: darkslategrey;
}
.button{
    margin-top: 20px;
    height: 50px;
    width: 50%;
    border-radius: 30px;
    color: #f0f0f0;
    font-weight: 600;
    border: 0 solid black;
}
.first{
    margin-left: 140px;
    background-color: slateblue;
}
.second{
    width: 40%;
    color: #000000;
    background-color: rgba(198,255,49,0);
}
.errors{
    margin: 0 auto;
}
b{
    font-size: 25px;
    font-style: italic;
    background-color: lightgrey;
    border-radius: 15px;
}
ul li{
    padding: 10px;
    margin: 30px;
    background-color: lightblue;
    color: red;
    border-radius: 15px;
    font-size: 20px;

}
.success-text{
    padding: 10px;
    background-color: lightblue;
    color: blue;
    border-radius: 15px;
    font-size: 25px;
}
.success{
    height: 200px;
    width: 200px;
    /*background-color: rgba(140,146,180,0.55);*/
    background-image: url("Success-Transparent-Background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin: 50px auto;

}

